body {
  background-image: linear-gradient(45deg, #13547a, #80d0c7);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.Container {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
  width: 400px;
  height: 300px;
}
input, .final {
  border: 0;
  color: #9ca5b4;
  font-size: 26px;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  width: 400px;
  height: 20%;
  text-align: center;
  margin-bottom: 1px;
}
button {
  background-color: #fff;
  border: 0;
  color: #9ca5b4;
  font-size: 22px;
  padding: 15px;
  letter-spacing: 1px;
  width: 400px;
  text-align: center;
  margin-bottom: 1px;
}
.full-height {
  height: 40%;
}
.half-height {
  height: 20%;
}
input:focus {
  outline: none !important;
}
.disabled {
  background-color: #c3cfe2 !important;
}
.invalid {
  background-color: #d0311d;
}

/*dropdown*/

.dd-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  border: none;
}
.dd-rate-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30px;
  border: none;
}
.answer-button {
  flex: 1 0 21%;
  margin: 5px;
  width: 400px;
  text-align: left;
  padding: 40px;
  border: none;
}
.selected {
  display: flex; 
  padding-left: 20px;
  padding-right: 30px;
  background-color: #9ca5b4;
  color: #fff;
  border: none;
}
.align {
  display: flex;
  flex: 1 0 20%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 1px;
}